<style>
body {
    background-image: url(<%= asset_path('fitness1') %>);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<div class="firstpage">
  <div class="logo-text">
    <h1 style="text-align: center;">Accountability Challenge</h1>
    <h2>Sign in</h2>
  </div>
    <h1><%= flash[:message] if flash[:message]%></h1>
    <%= form_for :user, url:'/login' do |f| %>
    
        <%= f.label :email %>
        <%= f.email_field :email %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br>
        <%= f.submit "login" %>
    
    <% end %>
    <br>
    <div class="nav-link">
    <%= link_to "Signup Here!", signup_path %>
</div>



