<h1>Accountability Challenge Home</h1>

<h1><%= flash[:message] if flash[:message]%></h1>
<br>

<%= form_for :user, url:'/login' do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
    <br>
    <br>
    <%= f.submit "login" %>

<% end %>

<%= link_to "Signup Here!", signup_path %>

