
<h1>Join this Challenge</h1>
<h2><%= @challenge_goal.user.username %> Setup Your Challenge Goals for <%= @challenge_goal.challenge.name %></h2>
<h4>Description: <%= @challenge_goal.challenge.description %>
<br>
<br>
<%= form_for([@challenge_goal.challenge,@challenge_goal]) do |f| %>

    <%= f.label :start_weight %>
    <%= f.number_field :start_weight %>
    <br>
    <br>
    <%= f.label :start_body_fat %>
    <%= f.number_field :start_body_fat %>
    <br>
    <br>
    <%= f.label :start_calorie_goal %>
    <%= f.number_field :start_calorie_goal %>
    <br>
    <br>
    <%= f.submit "Submit" %>

<% end %>
