<style>
    body {
        background-image: url(<%= asset_path('fitness1') %>);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
<div class="firstpage">
  <div class="logo-text">
    <h1 style="text-align: center;">Accountability Challenge</h1>
    <h2>Sign up</h2>
  </div>

    <%= render partial: 'layouts/errors', locals: {object: @user} %>

    <%= form_for(@user, url:'/signup') do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, required:true %>
        <br>
        <%= f.label :email %>
        <%= f.email_field :email, required:true %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, required:true %>
        <br>
        <%= f.submit "Submit" %>
        <br>
        <br>
    <% end %>
    <%= button_to "Cancel", root_path, :method => :get %> 
</div>