<h1>Welcome <%= @user.username %></h1>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h2>Your Challenges</h2>
<ul>
    <li><h4>Participating</h4></li>
    <% if @user.challenges == [] %>
        <%= "No Challenges" %>
    <% else %>
        <%= render partial: 'participating', locals: {user: @user} %>
    <% end %>
</ul>

<h2>Diary Logs</h2>
<ul>
  <% @user.logs.last_first.each do |log| %>
    <li><%= button_to "View Log", log_path(log), :method => :get %></li>
    <%= render partial: 'logs/show_logs', locals: {object: log.log_show_attributes} %>
    <br>
    <% log.log_show_attributes.each do |k, v| %>
        <li><%= "#{k.titleize}: #{v}" %></li>
    <% end %>
    <% log.user.log_scores.where(log_id: log.id).each do |ls| %>
      <li><%= "#{ls.challenge_goal.challenge.name} - Total Points - #{ls.total_points}" %></li>
    <% end %>
    <br>
  <% end %>
</ul>


