<h1>Welcome <%= @user.username %></h1>
<h2>Your Challenges</h2>
<ul>
  <% @user.challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name} Challenge", challenge_path(challenge) %></li>
    <li><%= "#{challenge.description}" %></li>
    <% if challenge.challenge_owner == @user %>
        <li><%= link_to "You Started this challenge click here to make edits", edit_challenge_path(challenge) %></li>
    <% end %>
    <br>
  <% end %>
</ul>
<h2>Diary Logs</h2>
<ul>
  <% @user.logs.each do |log| %>
    <li><%= link_to "#{log.log_date}", log_path(log) %></li>
    <li><%= "Worked Out: #{log.worked_out}" %></li>
    <li><%= "Tracked Food: #{log.tracked_food}" %></li>
    <li><%= "Weight: #{log.weight}" %></li>
    <li><%= "Body Fat %: #{to_percent(log.body_fat)}" %></li>
    <li><%= "Active Calories: #{log.active_calories}" %></li>
    <li><%= "Calories: #{log.calories}" %></li>
    <% log.user.log_scores.where(log_id: log.id).each do |ls| %>
        <li><%= "#{ls.challenge_goal.challenge.name} - Total Points - #{ls.total_points}" %></li>
    <% end %>
    <br>
  <% end %>
</ul>


