<%= link_to "All Challenges", challenges_path, method: "get" %>
<br>
<br>
<h1>Welcom <%= @user.username %></h1>

<h2>Your Challenges</h2>
<ul>
  <% @user.challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name} Challenge #{"*Owner*" if challenge.challenge_owner == @user}", challenge_path(challenge) %></li>
    <li><%= "#{challenge.description}" %></li>
    <br>
  <% end %>
  <%= link_to "Create a new challenge!", new_challenge_path, method: "get" %>
  </ul>
<br>
<h2>Logs</h2>
<ul>
  <% @user.logs.each do |log| %>
    <li><%= link_to "#{log.log_date}", log_path(log) %></li>
    <li><%= "#{log.worked_out}" %></li>
    <li><%= "#{log.tracked_food}" %></li>
    <br>
  <% end %>
  </ul>

<%= link_to "Logout", logout_path, method: "delete" %>


