<h1>All Challenges</h1>

<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name} #{"*Owner*" if challenge.challenge_owner == @user}", challenge_path(challenge) %></li>
    <li>Description<br>
        - <%= "#{challenge.description}" %></li>
    <% if challenge.users.include?(current_user) %>
        <li><%= "You are in #{(challenge.ranking.keys.index(challenge.challenge_goals.find_by(user_id: current_user.id).id).to_i + 1).ordinalize} place with #{challenge.ranking[challenge.challenge_goals.find_by(user_id: current_user.id).id]} points" %></li>
    <% else %>
        <li><%= link_to "Join this challenge!", new_challenge_challenge_goal_path(challenge.id), method: "get" %>
    <% end %>
    <br>
    <br>
  <% end %>
  <%= link_to "Create a new challenge!", new_challenge_path, method: "get" %>
  </ul>
<br>