<h1>All Challenges</h1>

<% if 
<h2>View challenges by owner</h2>
<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.user.username}", user_challenges_path(challenge.user.id) %></li>
    <br>
  <% end %>
</ul>
<br>
<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name}", challenge_path(challenge) %></li>
    <li><%= "Owner: #{challenge.user.username}" %></li>
    <li>Description<br>
        - <%= "#{challenge.description}" %></li>
    <%= render partial: 'ranking', locals: {challenge: challenge} %>
    <br>
  <% end %>
</ul>