<h1>Challenges</h1>

<% if @users %>
  <h2>View challenges by owner</h2>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to "#{user.username} - #{user.owned_challenges.count}", user_challenges_path(user.id) %></li>
      <br>
    <% end %>
  </ul>
  <h2>All Challenges</h2>
<% else %>
  <h2><%= "Viewing all challenges for #{@user.username}" %></h2>
  <br>
  <br>
<% end %>
<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to "#{challenge.name}", challenge_path(challenge) %></li>
    <li><%= "Owner: #{challenge.user.username}" %></li>
    <li>Description<br>
        - <%= "#{challenge.description}" %></li>
    <%= render partial: 'ranking', locals: {challenge: challenge} %>
    <br>
  <% end %>
</ul>