<h1><%= @challenge.name %></h1>
<h4>Challenge Owner: <%= @challenge.user.username %>
<br>
<br>
<% if @challenge.user == current_user %>
<%= button_to "Edit", edit_challenge_path(@challenge), :method => :get %>
<% end %></h4>
<% if @challenge.has_goals(current_user) %>
    <%= button_to "View your goals", challenge_goal_path(@challenge.find_user_challenge_goal(current_user)), :method => :get %>
<% end %>
<br>
<h4>Start Date: <%= @challenge.start_date %> End Date: <%= @challenge.end_date %></h4>
<h4>Duration <%= @challenge.duration %> weeks</h4>
<h2>Ranking</h2>
<ul>
    <% @challenge.ranking.each_with_index do |place, i| %>
        <li><%= "#{i + 1} - #{ChallengeGoal.find_by(id: place[0]).user.username} with #{place[1]} points" %></li>
    <% end %>
</ul>
<h3>Details</h3>
<ul>
    <li>Description<br>  <%= "-    #{@challenge.description}" %><br></li>
    <br>
    <% @challenge.show_attributes.each do |k, v| %>
        <li><%= "#{k.titleize}: #{v}" %></li>
        <br>
    <% end %>
</ul>
<h2>Diary Logs</h2>
<ul>
  <% @challenge.log_scores.each do |ls| %>
    <li><%= "#{ls.log.user.username}" %></li>
    <% ls.log_show_attributes.each do |k, v| %>
        <% if k == "body_fat" %>
            <li><%= "#{k.titleize}: #{to_percent(v)}%" %></li>
        <% else %>
            <li><%= "#{k.titleize}: #{v}" %></li>
        <% end %>
    <% end %>
    <li><%= "Total Points: #{ls.total_points}" %></li>
    <br>
    <br>
    <% end %>
    <br>
</ul>