<h1><%= @challenge.name %></h1>
<h4>Challenge Owner: <%= @challenge.user.username %>
<br>
<br>
<% if @challenge.user == current_user %>
<%= button_to "Edit", edit_challenge_path(@challenge), :method => :get %>
<% end %></h4>
<% if @challenge.has_goals(current_user) %>
    <%= button_to "View your goals", challenge_goal_path(@challenge.find_user_challenge_goal(current_user)), :method => :get %>
<% end %>
<br>
<h4>Start Date: <%= @challenge.start_date %> End Date: <%= @challenge.end_date %></h4>
<h4>Duration <%= @challenge.duration %> weeks</h4>
<br>
<br>
<ul>
    <% define_attributes(@challenge).each do |a_name, a_value| %>
        <li><%= reset_attributes(a_name).titleize %>: <%= a_value %></li>
        <br>
    <% end %>
</ul>
<h2>Ranking</h2>
<ul>
    <% @challenge.ranking.each_with_index do |place, i| %>
        <li><%= "#{i + 1} - #{ChallengeGoal.find_by(id: place[0]).user.username} with #{place[1]} points" %></li>
    <% end %>
</ul>
<h2>Diary Logs</h2>
<ul>
  <% @challenge.log_scores.each do |ls| %>
    <li><%= "#{ls.log.user.username}" %></li>
    <li><%= "Log Date: #{ls.log.log_date}" %></li>
    <li><%= "Worked Out: #{ls.log.worked_out}" %></li>
    <li><%= "Tracked Food: #{ls.log.tracked_food}" %></li>
    <li><%= "Weight: #{ls.log.weight}" %></li>
    <li><%= "Body Fat %: #{to_percent(ls.log.body_fat)}" %></li>
    <li><%= "Active Calories: #{ls.log.active_calories}" %></li>
    <li><%= "Calories: #{ls.log.calories}" %></li>
    <li><%= "Total Points: #{ls.total_points}" %></li>
    <br>
    <br>
    <% end %>
    <br>
</ul>