<h1><%= @challenge.name %></h1>
<h4>Challenge Owner: <%= @challenge.challenge_owner.username %>
<% if @challenge.challenge_owner == current_user %>
<%= button_to "Edit", edit_challenge_path(@challenge), :method => :get %>
<% end %></h4>
<h4>Start Date: <%= @challenge.start_date %> End Date: <%= @challenge.end_date %></h4>
<h4>Duration <%= @challenge.duration %> weeks</h4>
<% if @challenge.challenge_goals.where(user_id: current_user) != [] %>
    <%= link_to "View your goals", challenge_goal_path(@challenge.challenge_goals.where(user_id: current_user).first.id) %>
<% end %>
<br>
<br>
<ul>
    <li>Description<br>-<%= @challenge.description %></li>
    <br>
    <li>Active Calorie Goal: <%= @challenge.active_calorie_goal %></li>
    <br>
    <li>Points Worked Out: <%= @challenge.points_worked_out %></li>
    <br>
    <li>Points Tracked Food: <%= @challenge.points_tracked_food %></li>
    <br>
    <li>Points Met Calorie Goal: <%= @challenge.points_met_calorie_goal %></li>
    <br>
    <li>Points Maintain Weight: <%= @challenge.points_maintain_weight %></li>
    <br>
    <li>Points Maintain Body Fat: <%= @challenge.points_maintain_body_fat %></li>
    <br>
    <li>Points Met Active Calorie Goal: <%= @challenge.points_met_active_calorie_goal %></li>
    <br>
</ul>
<h2>Ranking</h2>
<ul>
    <% @challenge.ranking.each_with_index do |place, i| %>
        <li><%= "#{i + 1} - #{ChallengeGoal.find_by(id: place[0]).user.username} with #{place[1]} points" %></li>
    <% end %>
</ul>
<h2>Diary Logs</h2>
<ul>
  <% @challenge.log_scores.each do |ls| %>
    <li><%= "#{ls.log.user.username}" %></li>
    <li><%= "Log Date: #{ls.log.log_date}" %></li>
    <li><%= "Worked Out: #{ls.log.worked_out}" %></li>
    <li><%= "Tracked Food: #{ls.log.tracked_food}" %></li>
    <li><%= "Weight: #{ls.log.weight}" %></li>
    <li><%= "Body Fat %: #{to_percent(ls.log.body_fat)}" %></li>
    <li><%= "Active Calories: #{ls.log.active_calories}" %></li>
    <li><%= "Calories: #{ls.log.calories}" %></li>
    <li><%= "Total Points: #{ls.total_points}" %></li>
    <br>
    <br>
    <% end %>
    <br>
</ul>