<h1>Log for <%= @log.user.username %> on <%= @log.log_date %></h1>
<br>

<ul>
    <% @log.log_show_attributes.each do |k, v| %>
        <li><%= "#{k.titleize}: #{v}" %></li>
    <% end %>
    <% @log.user.log_scores.where(log_id: @log.id).each do |ls| %>
        <li><%= "#{ls.challenge_goal.challenge.name} - Total Points - #{ls.total_points}" %></li>
    <% end %>
</ul>

<%= button_to "Edit", edit_log_path(@log), :method => :get %>
<br>
<%= button_to "Delete", log_path(@log), :method => :delete %>