<!DOCTYPE html>
<html>
  <head>
    <title>AChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <div class="sidebar">
    <div class="logo-text">
        <h1>Accountability Challenge</h1>
    </div>
        <h4><%= link_to "Home", user_path(current_user), method: "get" %></h4>
        <h4><%= link_to "View All Challenges", challenges_path, method: "get" %></h4>
        <h4><%= link_to "Create a new challenge", new_challenge_path, method: "get" %></h4>
        <h4><%= link_to "Create a new log", new_log_path, method: "get" %></h4>
        <h4><%= link_to "Logout", logout_path, method: "delete" %></h4>
    </div>
  <% end %>
    <div class='content'>    
      <%= yield %>
    </div>
  </body>
</html>